.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 0 50px;
    box-shadow: 0 4px 18px -18px blue;
    color: darkblue;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signInLink {
    margin-right: 0;
    margin-left: auto;
}

.signInButton {
    width: 100px;
    height: 50px;
    background-color: darkblue;
    color: white;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}